# WEEK 1

### Q1 Preprocess the data, remove the attributes which were are not useful to predict rain. Also, remove rows with at least one missing value for each of them.

In [27]:
import pandas as pd
import numpy as np
df=pd.read_csv('weatherAUS.csv')
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,2017-06-20,Uluru,3.5,21.8,0.0,NaN,NaN,E,31.0,ESE,...,27.0,1024.7,1021.2,NaN,NaN,9.4,20.9,No,0.0,No
142189,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,0.0,No
142190,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,0.0,No
142191,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,0.0,No
142192,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,0.0,No

In [28]:
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,141556.000000,141871.000000,140787.000000,81350.000000,74377.000000,132923.000000,140845.000000,139563.000000,140419.000000,138583.000000,128179.000000,128212.000000,88536.000000,85099.000000,141289.000000,139467.000000,142193.000000
mean,12.186400,23.226784,2.349974,5.469824,7.624853,39.984292,14.001988,18.637576,68.843810,51.482606,1017.653758,1015.258204,4.437189,4.503167,16.987509,21.687235,2.360682
std,6.403283,7.117618,8.465173,4.188537,3.781525,13.588801,8.893337,8.803345,19.051293,20.797772,7.105476,7.036677,2.887016,2.720633,6.492838,6.937594,8.477969
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.500000,977.100000,0.000000,0.000000,-7.200000,-5.400000,0.000000
25%,7.600000,17.900000,0.000000,2.600000,4.900000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.900000,1010.400000,1.000000,2.000000,12.300000,16.600000,0.000000
50%,12.000000,22.600000,0.000000,4.800000,8.500000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.600000,1015.200000,5.000000,5.000000,16.700000,21.100000,0.000000
75%,16.800000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.400000,1020.000000,7.000000,7.000000,21.600000,26.400000,0.800000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.000000,1039.600000,9.000000,9.000000,40.200000,46.700000,371.000000

In [29]:
df.isna().sum()

Date                 0
Location             0
MinTemp            637
MaxTemp            322
Rainfall          1406
Evaporation      60843
Sunshine         67816
WindGustDir       9330
WindGustSpeed     9270
WindDir9am       10013
WindDir3pm        3778
WindSpeed9am      1348
WindSpeed3pm      2630
Humidity9am       1774
Humidity3pm       3610
Pressure9am      14014
Pressure3pm      13981
Cloud9am         53657
Cloud3pm         57094
Temp9am            904
Temp3pm           2726
RainToday         1406
RISK_MM              0
RainTomorrow         0
dtype: int64

In [30]:
irrelevant_features=['Evaporation','Sunshine','Cloud9am','Cloud3pm','Pressure9am','Pressure3pm'] 
df=df.drop(columns=irrelevant_features)
df.describe()

,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Temp9am,Temp3pm,RISK_MM
count,141556.000000,141871.000000,140787.000000,132923.000000,140845.000000,139563.000000,140419.000000,138583.000000,141289.000000,139467.000000,142193.000000
mean,12.186400,23.226784,2.349974,39.984292,14.001988,18.637576,68.843810,51.482606,16.987509,21.687235,2.360682
std,6.403283,7.117618,8.465173,13.588801,8.893337,8.803345,19.051293,20.797772,6.492838,6.937594,8.477969
min,-8.500000,-4.800000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,-7.200000,-5.400000,0.000000
25%,7.600000,17.900000,0.000000,31.000000,7.000000,13.000000,57.000000,37.000000,12.300000,16.600000,0.000000
50%,12.000000,22.600000,0.000000,39.000000,13.000000,19.000000,70.000000,52.000000,16.700000,21.100000,0.000000
75%,16.800000,28.200000,0.800000,48.000000,19.000000,24.000000,83.000000,66.000000,21.600000,26.400000,0.800000
max,33.900000,48.100000,371.000000,135.000000,130.000000,87.000000,100.000000,100.000000,40.200000,46.700000,371.000000

In [31]:
df=df.dropna()
df.isna().sum()

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Temp9am          0
Temp3pm          0
RainToday        0
RISK_MM          0
RainTomorrow     0
dtype: int64

In [32]:
df.shape

(121790, 18)

In [33]:
df.dtypes

Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RISK_MM          float64
RainTomorrow      object
dtype: object

### Q2 Calculate the Variance Inflation Factor (VIF) value. VIF is a number that determines whether a variable has multicollinearity or not (starts from 1, and it has no upper limit. If the number gets larger, it means the variable has huge multicollinearity on it.)

In [36]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant

numeric_df=df.select_dtypes(include=['number'])
X = add_constant(numeric_df)
for i in range(X.shape[1]):
    print(X.columns[i],'\t',variance_inflation_factor(X.values, i),'\n')

const 	 113.30320210312335

MinTemp 	 8.134819374053468

MaxTemp 	 44.117680389632234

Rainfall 	 1.2022242425380552

WindGustSpeed 	 2.4225213395508773

WindSpeed9am 	 1.773992834214501

WindSpeed3pm 	 2.0414420469311256

Humidity9am 	 3.9116260341467504

Humidity3pm 	 6.232171715610124

Temp9am 	 21.30347313115171

Temp3pm 	 49.67005112885096

RISK_MM 	 1.2519262439700405

### Q3Remove multicollinearities by creating new features. Find the features that have paired values and create the new feature which is the difference value between those pairs.

In [64]:
df['temp_diff']=df['MaxTemp']-df['MinTemp']
df['humidity_diff']=df['Humidity9am']-df['Humidity3pm']
df['temp_time_diff']=df['Temp9am']-df['Temp3pm']

df2=df.drop(columns=['MaxTemp','MinTemp','Humidity9am','Humidity3pm','Temp9am','Temp3pm'])

### Q4 Remove features that have a VIF value above 5

In [65]:
numeric_df2=df2.select_dtypes(include=['number'])
X2=add_constant(numeric_df2)
for i in range(X2.shape[1]):
    print(X2.columns[i],'\t',variance_inflation_factor(X2.values, i),'\n')

const 	 18.89681841319734

Rainfall 	 1.1703330810766541

WindGustSpeed 	 2.278163436471768

WindSpeed9am 	 1.6809338007547625

WindSpeed3pm 	 2.0001696130473356

RISK_MM 	 1.1890459537788844

temp_diff 	 2.8141077025784096

humidity_diff 	 2.5038033957523784

temp_time_diff 	 4.892059689437274

### Q5 Build a regression model to perform the Rain prediction. Also, tabulate accuracy of the prediction models, before and VIF computation.

In [66]:
df=df.drop(columns=['temp_diff','humidity_diff','temp_time_diff'])
print(df.dtypes,'\n')
print(df2.dtypes)

Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RISK_MM          float64
RainTomorrow      object
dtype: object

Date               object
Location           object
Rainfall          float64
WindGustDir        object
WindGustSpeed     float64
WindDir9am         object
WindDir3pm         object
WindSpeed9am      float64
WindSpeed3pm      float64
RainToday          object
RISK_MM           float64
RainTomorrow       object
temp_diff         float64
humidity_diff     float64
temp_time_diff    float64
dtype: object

In [68]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

X_before_vif=df.select_dtypes(include=['number'])
y_before_vif=df['RainTomorrow']

X_train_before_vif,X_test_before_vif,y_train_before_vif,y_test_before_vif=train_test_split(X_before_vif,y_before_vif,test_size=0.2, random_state=42)

model=LogisticRegression(max_iter=1000)
model.fit(X_train_before_vif,y_train_before_vif)

y_pred_before_vif=model.predict(X_test_before_vif)


accuracy=accuracy_score(y_test_before_vif,y_pred_before_vif)
accuracy

0.9999589457262501

In [69]:
X_after_vif=df2.select_dtypes(include=['number'])
y_after_vif=df2['RainTomorrow']

X_train_after_vif,X_test_after_vif,y_train_after_vif,y_test_after_vif=train_test_split(X_after_vif,y_after_vif,test_size=0.2, random_state=42)

model=LogisticRegression(max_iter=1000)
model.fit(X_train_after_vif,y_train_after_vif)

y_pred_after_vif=model.predict(X_test_after_vif)


accuracy=accuracy_score(y_test_after_vif,y_pred_after_vif)
accuracy

0.9999589457262501